<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ControlUnit{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/controlunit.css') }}?v={{ app_version }}">
    {% block scripts %}{% endblock %}
</head>

<body>
    {% include 'topbar.html' %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>

</html>
